
/* body {width: 100%; height: 100%; position: absolute; margin: 0px; padding: 0px; overflow: hidden;}  */
#app-jsmap {
    position:absolute; top:0; bottom:0;
     /* width:100%; height: 100%; */
    height:500px;
  width:500px;
  background: #F00; /* Just so we can see it */
  position: absolute;
  top: 150px;
  left: 50%;  /* Put the left edge on the horizontal center */
  margin-left: 148px; 
}

#mainMap{
    width:100px; 
    height: 100px;
}