<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <kendo-menu [items]="Master" (select)="onSelect($event)"></kendo-menu> -->
<div id="navbar">
    <app-navbar></app-navbar>
</div>
<!-- <div>
    <div class="d-flex align-items-center page_header">

        <div class="page_title  min-wleftheader">
            <b>Dashboard</b>
            <kendo-chart>
                <kendo-chart-title text="Hourly Occupancy"></kendo-chart-title>
                <kendo-chart-category-axis>
                    <kendo-chart-category-axis-item [categories]="OutTime" [title]="{ text: 'Out Time' }">
                    </kendo-chart-category-axis-item>
                </kendo-chart-category-axis>
                <kendo-chart-series>

                    <kendo-chart-series-item type="line" [style]="style" [data]="FourWheeler">
                    </kendo-chart-series-item>

                    <kendo-chart-series-item type="line" [style]="style" [data]="TwoWheeler">
                    </kendo-chart-series-item>
                </kendo-chart-series>
            </kendo-chart>
        </div>


    </div>
</div> -->
<!-- <kendo-menu [items]="MasterConfig" (select)="onSelect($event)"></kendo-menu> -->
<!-- <div #map id="map"></div> -->
