<!-- <link rel="stylesheet" href="http://unpkg.com/@progress/kendo-theme-bootstrap/dist/all.css" /> -->

<!-- <link rel="stylesheet" href="http://unpkg.com/@progress/kendo-theme-material/dist/all.css" /> -->

<link
  rel="stylesheet"
  href="http://unpkg.com/@progress/kendo-theme-fluent/dist/all.css"
/>


<div class="d-flex align-items-center page_header">
  <div class="page_title  min-wleftheader">
      <h4><b>City Master</b></h4>
  </div> 
  <div>
    <button kendoButton ><a href="/dashboard"> Go To Dashboard</a></button>
  </div>
</div>
<div>

<!-- <kendo-grid [data]="CityMasterGet">
</kendo-grid> -->

<kendo-grid
  [data]="CityMasterGet"
  (edit)="editHandler($event)"
  (save)="saveHandler($event)"
  (cancel)="cancelHandler($event)"
  (remove)="removeHandler($event)"
  (add)="addHandler($event)"
  [pageable]="true"
  [sortable]="true"
>
  <ng-template kendoGridToolbarTemplate>

    <button kendoGridPDFCommand>
      <span class="k-icon k-i-file-pdf"></span>Export to PDF
    </button>

    <button type="button" kendoGridExcelCommand icon="file-excel">
      Export to Excel
    </button>
    <button kendoGridAddCommand type="button" [primary]="true">Add New</button>

  </ng-template>

  <!-- Expoert To PDF -->

  <kendo-grid-pdf
    fileName="CityMaster.pdf"
    [delay]="1000"
    [allPages]="true"
    paperSize="A4"
    [repeatHeaders]="true"
    [landscape]="true"
  >
    <kendo-grid-pdf-margin
      top="1cm"
      left="1cm"
      right="1cm"
      bottom="1cm"
    ></kendo-grid-pdf-margin>
    <ng-template
          kendoGridPDFTemplate
          let-pageNum="pageNum"
          let-totalPages="totalPages"
        >
          <div class="page-template">
            <div class="header">
              <div style="float: right">
                Page {{ pageNum }} of {{ totalPages }}
              </div>
              <!-- Multi-page grid with automatic page breaking -->
            </div>
            <!-- <div class="footer">Page {{ pageNum }} of {{ totalPages }}</div> -->
          </div>
        </ng-template>
    <kendo-grid-column field="strCityName" title="City Name"></kendo-grid-column>
    <kendo-grid-column field="strAddress" title="Address"></kendo-grid-column>
    <kendo-grid-column field="strManagerName" title="Manager Name"></kendo-grid-column>
    <kendo-grid-column field="strRemarks" title="Remarks"></kendo-grid-column>
  </kendo-grid-pdf>
  <!-- Expoert To PDF -->

  <!-- Export To Excel -->
  <kendo-grid-excel fileName="CityMaster.xlsx"></kendo-grid-excel>
  <!-- Export To Excel -->

  <!-- <kendo-grid-column
    field="intCityID"
    title="ID"
    [editable]="false"
  ></kendo-grid-column> -->
  <!-- Hide this column -->
  <kendo-grid-column field="strCityName" title="City Name"></kendo-grid-column>
  <kendo-grid-column field="strAddress" title="Address"></kendo-grid-column>
  <kendo-grid-column
    field="strManagerName"
    title="Manager Name"
  ></kendo-grid-column>
  <kendo-grid-column field="strRemarks" title="Remarks"></kendo-grid-column>
  <!-- <kendo-grid-column field="dteModifiedOn" title="Last Modified"></kendo-grid-column>  Hide this column -->
  <kendo-grid-column
    field="bActive"
    title="Active(Status)"
    [editable]="false"
  ></kendo-grid-column>
  <!-- <kendo-grid-column field="bDeleted" title="Deleted"></kendo-grid-column>  Hide this column -->

  <kendo-grid-column title="Action">
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
      <button kendoButton (click)="Action(dataItem)" *ngIf="dataItem.bActive">Click To DeActivate</button>
      <button kendoButton (click)="Action(dataItem)" *ngIf="dataItem.bActive==false">Click To Activate</button>
      <!-- more command buttons here -->
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-command-column title="Command">
    <ng-template kendoGridCellTemplate>
      <button kendoGridEditCommand>Edit</button>
      <button kendoGridSaveCommand>Save</button>
      <button kendoGridRemoveCommand >Delete</button>
      <button kendoGridCancelCommand class="btnDel">Cancel</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

<router-outlet></router-outlet>
